.tech {
  position: relative;
  background: #02002c7a;
}
.tech-bx {
  background: #02002c;
  width: 100%;
  border-radius: 30px;
  text-align: center;
  padding-bottom: 6em;
  padding-top: 1em;
  /* margin-top: 2em; */
  box-shadow: 10px 10px 20px #02001d7a;
}
.tech-title {
  padding-top: 4rem !important;
  font-size: 3rem;
  font-weight: 700;
}
.tech-subtitle {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 1em auto 2em auto;
}
.tech-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.tech-slider .item img {
  width: 50%;
  margin: 0 auto 1.5rem auto;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow {
  background: transparent;
}

@media (max-width: 680px) {
  .tech-title {
    font-size: 2em;
  }
}

