.txtx {
  text-align: center;
  color: #b8b8b8;
}

.card-body {
  background-color: transparent;
  padding: 1rem 0;
}

.custom-card {
  border: none;
  border-radius: 30px;
  background-color: transparent;
}

.img-container {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 10px 10px 20px #02001d7a;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90.21deg, rgb(0, 0, 0) -5.91%, #4e008a 111.58%);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.overlay:hover {
  opacity: 0.85;
}

.overlay-titulo {
  text-align: center;
  padding: 0em 0.5em 0;
  font-size: 1rem;
}

.tech-icons {
  padding: 1em 0;
  display: flex;
  gap: 0.5rem;
}

.tech-icons-item {
  width: 2em;
  filter: invert(1) grayscale(0) brightness(100);
  padding-top: 10px;
}

.card-title {
  margin-top: 1rem;
}

.card-description {
  color: #b8b8b8;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
  gap: 1rem;
}

.btn-card {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 2em;
  font-size: 1em;
  position: relative;
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
}
.btn-card a {
  font-weight: 700;
  color: #fff;
}

.btn-card {
  z-index: 1;
}

.btn-card::before {
  content: "";
  width: 0%;

  background-color: #fff;
  border-radius: 20px;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.btn-card:hover a {
  color: #00011e;
}

.btn-card:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 1250px) {
  .card-container {
    padding: 3rem 1rem;
  }
}

@media (max-width: 950px) {
  .card-container {
    padding: 3rem 1rem;
  }
}
